@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:600&display=swap');

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

#navbar {
  background-color: lightblue;
  text-align: left;
  padding-left: 20px;
}

#search {
  padding-left: 20px;
}

h1 {
  margin: 0;
  padding: 0;
}

header {
  /* grid-column: 1 / -1; */
  font-family: 'Teko', sans-serif;
  background-color: #213b91;
  height: 10vh;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
 
  justify-items: center;
  align-items: center;

  color: white;
  font-size: 1.4em;
}

header > h1 {
  grid-column: 5 / 9;
}

header >  a {
  grid-column: 10 / 12;
  color: white
}

.header h1:hover {
  cursor: pointer;
}

#applicantForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(197, 197, 197);
}

.inputSection {
  margin: 20px;
  padding-right: 20px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}


.inputSection .input {
  height: 35px;
  width: 25vw;
  font-size: 1.2em;
}

.inputSection .label {
  width: 11vw;
  justify-self: flex-end;
  margin-right: 12px;
  font-size: 1.6em;
}

.input {
  float: left;
}

.inputSectionTitle {
  font-size: 2.5em;
  margin-top: 75px;
}

.multipleInputButton {
  height: 25px;
  border-radius: 2px;
}

.multipleInputButton:hover {
  background-color: #707070;
  cursor: pointer;
}

.formSubmit {
  margin: 25px;
}

.splash {
  width: 100vw;
  height: 90vh;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  
  color: white;
  font-size: 5em;
  background-image: url('https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3302&q=80');
  background-size: cover;
  font-family: 'Teko', sans-serif;

}

.splash button {
  font-family: 'Teko', sans-serif;
  grid-column: 3 / 5;
  height: 85px;
  width: 550px;
  outline: none;
  border: 1px solid #102875;
  background-color: #102875;
  color: white;
  font-size: 35px;
}

.splash button:hover {
  cursor: pointer;
  background-color: #133790;
  border: 2px solid white;
}

.splash button:nth-child(1) {
  grid-row: 6 / 7;
}

.splash button:nth-child(2) {
  grid-row: 8 / 9;
}

.callToAction {
  grid-column: 1 / -1;
  justify-self: center;
  grid-row: 3 / 4;
  font-size: 70px;
  color: black;
}

#errLogin {
  grid-column: 3 / 12;
  grid-row: 5 / 6;
  color: red;
  visibility: hidden;
  font-size: 22px;
  align-self: flex-end;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 10;
  height: 55px;
  width: 100vw;
  margin: 20px;
  font-size: 1.3em;
}

.splashItem:hover {
  cursor: pointer;
  background-color: #707070;
}

.Recruiter {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}

.recruiterSearch {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: lightskyblue;
  padding: 25px;
  border-bottom: 3px solid black;
}

#recruiterForm {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formtext {
  width: 400px;
  height: 100px;
  font-size: 4em;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  outline: none;
  box-shadow: none;
  background-color: inherit;
  margin: 20px;
  color: black;
}

/* #formtext:focus {
  background-color: rgb(104, 247, 247);
} */

.recruiterSkills {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr)
}

.recruiterSkills li {
  font-size: 35px;
  list-style-type: none;
}

.recruiterSkills li:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.buttonSearchSkills {
  grid-column: 1 / -1;
}

.searchButton {
  justify-self: center;
  width: 200px;
  height: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
  background-color: #102875;
}

.searchButton:hover {
  cursor: pointer;
  background-color: #133790;
  border: 2px solid white;
}

.allMatchingResumes {
  grid-column: 1 / 4;
  height: 100vh;
}

.matchingResume {
  grid-column: 1 / -1;
  border: 1px solid black;
  padding-left: 20px;
  background-color: lightgrey;
}

.matchingResume h2:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.selectedResume {
  grid-column: 5 / -1;
  grid-row: 2 / 10;
  text-align: center;
  font-size: 1.5em;
}
